/* pc */
@media (min-width:1024px){
    #mobile-menu {
        display: none;
    }
    

}





/* TABLET */
@media (min-width:740px) and (max-width:1024px){
    

}





/* mobile */
@media (max-width:739px){
    .search-btn {
        display: none;
    }
    #nav>li {
        display: block;
    }
    #header {
        width: 414px;
    }

    
    

}